<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <!-- Services -->

    <!-- API Services -->
    <preference for="Praxigento\Odoo\Api\CustomerInterface"
                type="Praxigento\Odoo\Api\Def\Customer"/>
    <preference for="Praxigento\Odoo\Api\CustomerAddressInterface"
                type="Praxigento\Odoo\Api\Def\CustomerAddress"/>
    <preference for="Praxigento\Odoo\Api\ProductInterface"
                type="Praxigento\Odoo\Api\Def\ProductAddress"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrder"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderInvoiceInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrderInvoice"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderShipmentInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrderShipment"/>

</config>
