<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!-- Logger -->
    <type name="Praxigento\Odoo\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "odoo".  -->
            <argument name="loggerName" xsi:type="string">odoo</argument>
        </arguments>
    </type>

    <!-- Own Repos -->
    <preference for="Praxigento\Odoo\Lib\Repo\ILot"
                type="Praxigento\Odoo\Lib\Repo\Def\Lot"/>
    <preference for="Praxigento\Odoo\Repo\Agg\IWarehouse"
                type="Praxigento\Odoo\Repo\Agg\Def\Warehouse"/>
    <preference for="Praxigento\Odoo\Repo\IModule"
                type="Praxigento\Odoo\Repo\Def\Module"/>
    <preference for="Praxigento\Odoo\Repo\IPvModule"
                type="\Praxigento\Odoo\Repo\Def\PvModule"/>

    <!-- Other Repos override -->
    <preference for="Praxigento\Warehouse\Repo\Agg\IWarehouse"
                type="Praxigento\Odoo\Repo\Agg\Def\Warehouse"/>

    <!-- Odoo API repo -->
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Config\IAuthentication"
                type="Praxigento\Odoo\Repo\Odoo\Connector\Config\Def\Params"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Config\IConnection"
                type="Praxigento\Odoo\Repo\Odoo\Connector\Config\Def\Params"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Api\IInventory"
                type="Praxigento\Odoo\Repo\Odoo\Connector\Api\Def\Inventory"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Api\ILogin"
                type="Praxigento\Odoo\Repo\Odoo\Connector\Api\Def\Login"/>

    <!-- Services -->
    <preference for="Praxigento\Odoo\Service\IReplicate"
                type="Praxigento\Odoo\Service\Replicate\Call"/>

    <!-- API Services -->
    <preference for="Praxigento\Odoo\Api\CustomerInterface"
                type="Praxigento\Odoo\Api\Def\Customer"/>
    <preference for="Praxigento\Odoo\Api\CustomerAddressInterface"
                type="Praxigento\Odoo\Api\Def\CustomerAddress"/>
    <preference for="Praxigento\Odoo\Api\ProductInterface"
                type="Praxigento\Odoo\Api\Def\Product"/>
    <preference for="Praxigento\Odoo\Api\ProductReplicatorInterface"
                type="Praxigento\Odoo\Api\Def\ProductReplicator"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrder"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderInvoiceInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrderInvoice"/>
    <preference for="Praxigento\Odoo\Api\SaleOrderShipmentInterface"
                type="Praxigento\Odoo\Api\Def\SaleOrderShipment"/>

    <!-- API Data -->
    <preference for="Praxigento\Odoo\Api\Data\IBundle"
                type="Praxigento\Odoo\Api\Data\Def\Bundle"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\ILot"
                type="Praxigento\Odoo\Api\Data\Bundle\Def\Lot"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\IOption"
                type="Praxigento\Odoo\Api\Data\Bundle\Def\Option"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\IProduct"
                type="Praxigento\Odoo\Api\Data\Bundle\Def\Product"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\Product\IWarehouse"
                type="Praxigento\Odoo\Api\Data\Bundle\Product\Def\Warehouse"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\Product\Warehouse\ILot"
                type="Praxigento\Odoo\Api\Data\Bundle\Product\Warehouse\Def\Lot"/>
    <preference for="Praxigento\Odoo\Api\Data\Bundle\IWarehouse"
                type="Praxigento\Odoo\Api\Data\Bundle\Def\Warehouse"/>

</config>
