<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Logger -->
    <type name="Praxigento\Odoo\Logger">
        <arguments>
            <!-- Config file path is related to Magento 2 base directory. Absolute path can be used too. -->
            <argument name="configFile" xsi:type="string">var/log/logging.yaml</argument>
            <!-- Name of the logger in configuration file. Default: "odoo".  -->
            <argument name="loggerName" xsi:type="string">odoo</argument>
        </arguments>
    </type>

    <!-- API -->
    <preference for="Praxigento\Odoo\Api\ProductReplicatorInterface"
                type="Praxigento\Odoo\Api\Def\ProductReplicator"/>

    <!-- Data / API -->
    <preference for="Praxigento\Odoo\Data\Api\IBundle"
                type="Praxigento\Odoo\Data\Api\Def\Bundle"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\ILot"
                type="Praxigento\Odoo\Data\Api\Bundle\Def\Lot"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\IOption"
                type="Praxigento\Odoo\Data\Api\Bundle\Def\Option"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\IProduct"
                type="Praxigento\Odoo\Data\Api\Bundle\Def\Product"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\Product\IWarehouse"
                type="Praxigento\Odoo\Data\Api\Bundle\Product\Def\Warehouse"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\Product\Warehouse\ILot"
                type="Praxigento\Odoo\Data\Api\Bundle\Product\Warehouse\Def\Lot"/>
    <preference for="Praxigento\Odoo\Data\Api\Bundle\IWarehouse"
                type="Praxigento\Odoo\Data\Api\Bundle\Def\Warehouse"/>

    <!-- Console (CLI Commands) -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_odoo_replicate_products_command"
                      xsi:type="object">Praxigento\Odoo\Console\Command\Replicate\Products
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Own Repos -->
    <preference for="Praxigento\Odoo\Lib\Repo\ILot"
                type="Praxigento\Odoo\Lib\Repo\Def\Lot"/>
    <preference for="Praxigento\Odoo\Repo\Agg\IWarehouse"
                type="Praxigento\Odoo\Repo\Agg\Def\Warehouse"/>
    <preference for="Praxigento\Odoo\Repo\IModule"
                type="Praxigento\Odoo\Repo\Def\Module"/>
    <preference for="Praxigento\Odoo\Repo\IPv"
                type="\Praxigento\Odoo\Repo\Def\Pv"/>

    <!-- Other Repos override -->
    <preference for="Praxigento\Warehouse\Repo\Agg\IWarehouse"
                type="Praxigento\Odoo\Repo\Agg\Def\Warehouse"/>

    <!-- Odoo API repo -->
    <virtualType name="odooTestConfigParams" type="Praxigento\Odoo\Repo\Odoo\Connector\Config\Def\Params">
        <arguments>
            <argument xsi:type="array" name="arg1">
                <item name="BaseUri" xsi:type="string">http://lion.host.prxgt.com:8122</item>
                <item name="DbName" xsi:type="string">oe_odoo9_api</item>
                <item name="UserName" xsi:type="string">admin</item>
                <item name="UserPassword" xsi:type="string">admin</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Praxigento\Odoo\Repo\Odoo\IInventory"
                type="Praxigento\Odoo\Repo\Odoo\Def\Inventory"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Config\IAuthentication"
                type="odooTestConfigParams"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Config\IConnection"
                type="odooTestConfigParams"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\IInventory"
                type="Praxigento\Odoo\Repo\Odoo\Def\Inventory"/>
    <preference for="Praxigento\Odoo\Repo\Odoo\Connector\Api\ILogin"
                type="Praxigento\Odoo\Repo\Odoo\Connector\Api\Def\Login"/>


    <!-- Services -->
    <preference for="Praxigento\Odoo\Service\IReplicate"
                type="Praxigento\Odoo\Service\Replicate\Call"/>

</config>
