<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_submit_all_after">
        <!-- Replicate paid order to Odoo for credit cards payments. -->
        <observer
                name="praxigento_odoo_on_checkout_submit_all_after"
                instance="Praxigento\Odoo\Observer\CheckoutSubmitAllAfter"/>
    </event>

    <event name="sales_order_invoice_pay">
        <!-- Replicate paid order to Odoo on invoice payments (check/money order). -->
        <observer
                name="praxigento_odoo_on_sales_order_invoice_pay"
                instance="Praxigento\Odoo\Observer\SalesOrderInvoicePay"/>
    </event>

</config>