<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *** -->
    <!-- API -->
    <!-- *** -->
    <preference for="Praxigento\Odoo\Api\App\Logger\Main"
                type="Praxigento\Odoo\App\Logger\Main"/>
    <preference for="Praxigento\Odoo\Api\Web\Account\DailyInterface"
                type="Praxigento\Odoo\Web\Account\Daily"/>
    <preference for="Praxigento\Odoo\Api\Web\Customer\Pv\AddInterface"
                type="Praxigento\Odoo\Web\Customer\Pv\Add"/>
    <preference for="Praxigento\Odoo\Api\Web\Customer\Wallet\BalanceInterface"
                type="Praxigento\Odoo\Web\Customer\Wallet\Balance"/>
    <preference for="Praxigento\Odoo\Api\Web\Customer\Wallet\DebitInterface"
                type="Praxigento\Odoo\Web\Customer\Wallet\Debit"/>
    <preference for="Praxigento\Odoo\Api\Web\Product\Replicate\SaveInterface"
                type="Praxigento\Odoo\Web\Product\Replicate\Save"/>
    <preference for="Praxigento\Odoo\Api\Web\Sales\Order\PushRepeatInterface"
                type="Praxigento\Odoo\Web\Sales\Order\PushRepeat"/>
    <preference for="Praxigento\Odoo\Api\Web\Sales\Shipment\Tracking\SaveInterface"
                type="Praxigento\Odoo\Web\Sales\Shipment\Tracking\Save"/>


    <!-- *** -->
    <!-- CLI -->
    <!-- *** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:odoo:replicate:orders" xsi:type="object">Praxigento\Odoo\Cli\Replicate\Products</item>
                <item name="prxgt:odoo:replicate:products" xsi:type="object">Praxigento\Odoo\Cli\Replicate\Orders</item>
            </argument>
        </arguments>
    </type>



    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="Magento\Backend\Block\Widget\Grid\Extended">
        <!-- Prevent "Column 'customer_id' in where clause is ambiguous". -->
        <plugin name="praxigento_odoo_plugin"
                type="\Praxigento\Odoo\Plugin\Backend\Block\Widget\Grid\Extended"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <!-- Add custom columns to the sales orders grid (is_in_odoo) -->
        <plugin name="praxigento_odoo_plugin"
                type="Praxigento\Odoo\Plugin\Framework\View\Element\UiComponent\DataProvider\CollectionFactory"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="\Magento\Sales\Model\Order\CustomerManagement">
        <!-- Replicate orders for new signed customers (anons & referrals) -->
        <plugin name="praxigento_odoo_plugin"
                type="Praxigento\Odoo\Plugin\Sales\Model\Order\CustomerManagement"
                sortOrder="100" disabled="false"/>
    </type>

</config>
