<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- "Sales / MOBI Actions" group items -->
        <add id="Praxigento_Odoo::replicate_sales"
             title="Replicate Orders"
             translate="title"
             module="Praxigento_Odoo"
             sortOrder="100"
             action="sales/replicate_orders"
             parent="Praxigento_Core::sales_actions"
             resource="Praxigento_Odoo::replicate"/>


        <!-- "Catalog / MOBI Actions" group items -->
        <add id="Praxigento_Odoo::replicate_products"
             title="Replicate Products"
             translate="title"
             module="Praxigento_Odoo"
             sortOrder="100"
             action="catalog/replicate_products"
             parent="Praxigento_Core::catalog_actions"
             resource="Praxigento_Odoo::replicate"/>

    </menu>
</config>